<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876456059558-4k68c29p5j1mkdql247a6af74lmplq3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876456059558-4k68c29p5j1mkdql247a6af74lmplq3t</string>
	<key>API_KEY</key>
	<string>AIzaSyDaA7vgrW8-RX3GluuKqsLrJOS6xdkVSWg</string>
	<key>GCM_SENDER_ID</key>
	<string>876456059558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.MNUcoin</string>
	<key>PROJECT_ID</key>
	<string>mnucoin-785ad</string>
	<key>STORAGE_BUCKET</key>
	<string>mnucoin-785ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876456059558:ios:7322ef03869e675c674a67</string>
</dict>
</plist>